body {
    color: #fff; /* Sets the color of all text to white */
    background-image: url('../images/camp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .btn-custom {
    margin-right: 10px;
  }
  